*{
    margin:0;
    padding:0;
    text-align: center;
    background-color: pink;
}

h1{
     background-color:#081b31;
     color: white ;
     height: 5rem;
     line-height: 5rem;
}

.choice{
     height: 165px;
     width: 165px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}

.choice:hover{
    
    cursor: pointer;
    background-color:white;
}

img{
  height: 150px;
     width: 150px;
     object-fit: cover;
     border-radius: 10rem;
     
}
.choices{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
      margin-top: 5rem;
}
.score-board{
     display: flex;
     justify-content: center;
     align-items: center;
     
     font-size: 2rem;
     margin-top: 3rem;
     gap: 5rem;
}

#user-score, #comp-score{
   font-size: 4rem;
} 
   .msg-container{
     margin-top: 5rem;

   }

#msg{
     background-color: purple;
     color:white;
     font-size: 2rem;
     margin-top: 5rem;
     display: inline;
             padding: 1rem;
             border-radius: 1rem;
}  

#msg:hover{
    background-color: rgb(255, 0, 76);
    cursor: pointer;
}

